<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stránka 1</title>
    <link rel="stylesheet" href="styles.css"> <!-- Odkaz na CSS súbor -->
</head>
<body>
    <div class="container">
        <h1>Stránka 1</h1>
        <div class="image-gallery">
            <img src="images/45.jpg" alt="Obrázok 1">
            <img src="images/46.jpg" alt="Obrázok 2">
            <img src="images/47.jpg" alt="Obrázok 3">
            <img src="images/48.jpg" alt="Obrázok 4">
            <img src="images/49.jpg" alt="Obrázok 5">
            <img src="images/50.jpg" alt="Obrázok 6">
            <img src="images/51.jpg" alt="Obrázok 7">
            <img src="images/52.jpg" alt="Obrázok 8">
            <img src="images/53.jpg" alt="Obrázok 9">
            <img src="images/54.jpg" alt="Obrázok 10">
            <img src="images/55.jpg" alt="Obrázok 11">
            <img src="images/56.jpg" alt="Obrázok 12">
            <img src="images/57.jpg" alt="Obrázok 13">
            <img src="images/58.jpg" alt="Obrázok 14">
        </div>
        <p></p>
        <nav>
            <ul>
                <li><button onclick="location.href='index.html'">Späť na domovskú stránku</button></li>
            </ul>
        </nav>
    </div>

    <script src="script.js"></script>
</body>
</html>
