<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stránka 1</title>
    <link rel="stylesheet" href="styles.css"> <!-- Odkaz na CSS súbor -->
</head>
<body>
    <div class="container">
        <h1>Stránka 1</h1>
        <div class="image-gallery">
            <img src="images/31.jpg" alt="Obrázok 1">
            <img src="images/32.jpg" alt="Obrázok 2">
            <img src="images/33.jpg" alt="Obrázok 3">
            <img src="images/34.jpg" alt="Obrázok 4">
            <img src="images/35.jpg" alt="Obrázok 5">
            <img src="images/36.jpg" alt="Obrázok 6">
            <img src="images/37.jpg" alt="Obrázok 7">
            <img src="images/38.jpg" alt="Obrázok 8">
            <img src="images/39.jpg" alt="Obrázok 9">
            <img src="images/40.jpg" alt="Obrázok 10">
            <img src="images/41.jpg" alt="Obrázok 11">
            <img src="images/42.jpg" alt="Obrázok 12">
            <img src="images/43.jpg" alt="Obrázok 13">
            <img src="images/44.jpg" alt="Obrázok 14">
        </div>
        <p></p>
        <nav>
            <ul>
                <li><button onclick="location.href='index.html'">Späť na domovskú stránku</button></li>
            </ul>
        </nav>
    </div>

    <script src="script.js"></script>
</body>
</html>
