<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stránka 1</title>
    <link rel="stylesheet" href="styles.css"> <!-- Odkaz na CSS súbor -->
</head>
<body>
    <div class="container">
        <h1>Stránka 1</h1>
        <div class="image-gallery">
            <img src="images/59.jpg" alt="Obrázok 1">
            <img src="images/60.jpg" alt="Obrázok 2">
            <img src="images/61.jpg" alt="Obrázok 3">
            <img src="images/62.jpg" alt="Obrázok 4">
            <img src="images/63.jpg" alt="Obrázok 5">
            <img src="images/64.jpg" alt="Obrázok 6">
            <img src="images/65.jpg" alt="Obrázok 7">
            <img src="images/66.jpg" alt="Obrázok 8">
            <img src="images/67.jpg" alt="Obrázok 9">
            <img src="images/68.jpg" alt="Obrázok 10">
            <img src="images/69.jpg" alt="Obrázok 11">
            <img src="images/70.jpg" alt="Obrázok 12">
            <img src="images/71.jpg" alt="Obrázok 13">
            <img src="images/72.jpg" alt="Obrázok 14">
            <img src="images/73.jpg" alt="Obrázok 15">
            <img src="images/74.jpg" alt="Obrázok 16">
            <img src="images/75.jpg" alt="Obrázok 17">
            <img src="images/76.jpg" alt="Obrázok 18">
            <img src="images/77.jpg" alt="Obrázok 19">
            <img src="images/78.jpg" alt="Obrázok 20">
            <img src="images/79.jpg" alt="Obrázok 21">
            <img src="images/80.jpg" alt="Obrázok 22">
            <img src="images/81.jpg" alt="Obrázok 23">
            <img src="images/82.jpg" alt="Obrázok 24">
            <img src="images/83.jpg" alt="Obrázok 25">
            <img src="images/84.jpg" alt="Obrázok 26">
        </div>
        <p></p>
        <nav>
            <ul>
                <li><button onclick="location.href='index.html'">Späť na domovskú stránku</button></li>
            </ul>
        </nav>
    </div>

    <script src="script.js"></script>
</body>
</html>
