<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stránka 1</title>
    <link rel="stylesheet" href="styles.css"> <!-- Odkaz na CSS súbor -->
</head>
<body>
    <div class="container">
        <h1>Stránka 1</h1>
        <div class="image-gallery">
            <img src="images/85.jpg" alt="Obrázok 1">
            <img src="images/86.jpg" alt="Obrázok 2">
            <img src="images/87.jpg" alt="Obrázok 3">
            <img src="images/88.jpg" alt="Obrázok 4">
            <img src="images/89.jpg" alt="Obrázok 5">
            <img src="images/90.jpg" alt="Obrázok 6">
            <img src="images/91.jpg" alt="Obrázok 7">
            <img src="images/92.jpg" alt="Obrázok 8">
            <img src="images/93.jpg" alt="Obrázok 9">
            <img src="images/94.jpg" alt="Obrázok 10">
        </div>
        <p>.</p>
        <nav>
            <ul>
                <li><button onclick="location.href='index.html'">Späť na domovskú stránku</button></li>
            </ul>
        </nav>
    </div>

    <script src="script.js"></script>
</body>
</html>
