body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green; /* Nastavenie farby tlačidla na zelenú */
    color: white; /* Farba textu tlačidla na bielu */
    border: none; /* Odstránenie okrajov tlačidla */
    border-radius: 5px; /* Zaguľatenie rohov tlačidla */
}

button:hover {
    background-color: #006400; /* Tmavšia zelená farba pri prechode myšou */
}

.logo-container {
    margin-top: 20px;
}

.logo-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* Pridanie štýlov pre ostatné obrázky na stránke */
img {
    max-width: 100%;
    height: auto;
}
